accelerate
transformers
diffusers[torch]
ftfy
opencv-python
einops
pytorch-lightning
tensorboard
safetensors
altair
easygui
toml
voluptuous
huggingface-hub
open-clip-torch
# extra
rich
pandas
scipy
requests
pillow
numpy
gradio
fastapi
uvicorn
lion-pytorch
lycoris-lora
prodigyopt
dadaptation
wandb
httpx
xformers
# bitsandbytes
bitsandbytes